In [ ]:
import pandas as pd


data = pd.read_csv("off.csv")
data.shape

(40720, 8)

In [ ]:
data.head()

       ConstructBarcode        MutatedSequence  ... Day21-ETP   Category
0  AAAAATATCAGTGTGTATAG   AAAAATATCAGTGTGTATAG  ...  0.758783   Mismatch
1  AAAGTATCACGTGTGTATAG  AAAAGTATCACGTGTGTATAG  ...  0.490986  Insertion
2  GAAAAGTATAGTGTGTATAG    AAAAGTATAGTGTGTATAG  ...  0.428038   Deletion
3  AAAAGTATCAGTGTGTATAC   AAAAGTATCAGTGTGTATAC  ...  0.345700   Mismatch
4  AAAGTATCAAGTGTGTATAG  AAAAGTATCAAGTGTGTATAG  ...  0.143454  Insertion

[5 rows x 8 columns]

In [ ]:
data.Category.value_counts()

Insertion    18719
Mismatch     14683
Deletion      4708
PAM           2610
Name: Category, dtype: int64

In [ ]:
data.isnull().sum()
data = data.dropna()
data.shape

(40564, 8)

In [ ]:
data.Category.value_counts()

Insertion    18643
Mismatch     14624
Deletion      4689
PAM           2608
Name: Category, dtype: int64

In [ ]:
outfile = 'cleaned_off.csv'
data.to_csv(outfile)