In [ ]:
import pandas as pd
import numpy as np

data = pd.read_csv("cleaned_off.csv")
data.head()

   Unnamed: 0      ConstructBarcode  ... Day21-ETP   Category
0           0  AAAAATATCAGTGTGTATAG  ...  0.758783   Mismatch
1           1  AAAGTATCACGTGTGTATAG  ...  0.490986  Insertion
2           2  GAAAAGTATAGTGTGTATAG  ...  0.428038   Deletion
3           3  AAAAGTATCAGTGTGTATAC  ...  0.345700   Mismatch
4           4  AAAGTATCAAGTGTGTATAG  ...  0.143454  Insertion

[5 rows x 9 columns]

In [ ]:
data = data.drop(['Unnamed: 0'], axis=1)

In [ ]:
data.head()

       ConstructBarcode        MutatedSequence  ... Day21-ETP   Category
0  AAAAATATCAGTGTGTATAG   AAAAATATCAGTGTGTATAG  ...  0.758783   Mismatch
1  AAAGTATCACGTGTGTATAG  AAAAGTATCACGTGTGTATAG  ...  0.490986  Insertion
2  GAAAAGTATAGTGTGTATAG    AAAAGTATAGTGTGTATAG  ...  0.428038   Deletion
3  AAAAGTATCAGTGTGTATAC   AAAAGTATCAGTGTGTATAC  ...  0.345700   Mismatch
4  AAAGTATCAAGTGTGTATAG  AAAAGTATCAAGTGTGTATAG  ...  0.143454  Insertion

[5 rows x 8 columns]

In [ ]:
score1 = []
score2 = []
score3 = []


cb_list = data['ConstructBarcode'].tolist()
wt_list = data['WTSequence'].tolist()
mt_list = data['MutatedSequence'].tolist()

In [ ]:
scr1 = 0

for a,b in zip(cb_list, wt_list):
  for c1, c2 in zip(a, b):
    if c1 == c2:
      scr1 += 1
    else:
      scr1 +=0
      
  score1.append(scr1)
  scr1 = 0

data['sgRNA_vs_Target'] = score1

In [ ]:
scr2 = 0

for c,d in zip(cb_list, mt_list):
  for c3, c4 in zip(c, d):
    if c3 == c4:
      scr2 += 1
    else:
      scr2 +=0
      
  score2.append(scr2)
  scr2 = 0

data['sgRNA_vs_Mutated'] = score2

In [ ]:
scr3 = 0

for e,f in zip(mt_list, wt_list):
  for c5, c6 in zip(e, f):
    if c5 == c6:
      scr3 += 1
    else:
      scr3 +=0
      
  score3.append(scr3)
  scr3 = 0

data['Mutated_vs_Target'] = score3

In [ ]:
data.head()

       ConstructBarcode  ... Mutated_vs_Target
0  AAAAATATCAGTGTGTATAG  ...                19
1  AAAGTATCACGTGTGTATAG  ...                10
2  GAAAAGTATAGTGTGTATAG  ...                 8
3  AAAAGTATCAGTGTGTATAC  ...                19
4  AAAGTATCAAGTGTGTATAG  ...                10

[5 rows x 11 columns]

In [ ]:
data['TranscriptID'] = data['TranscriptID'].astype('category')
data['TID'] = data['TranscriptID'].cat.codes

In [ ]:
data.TranscriptID.value_counts()

ENST00000262262       28837
ENSMUST00000114840    11727
Name: TranscriptID, dtype: int64

In [ ]:
data.TID.value_counts()

1    28837
0    11727
Name: TID, dtype: int64

In [ ]:
data["MatchResult"] = data.apply(lambda row: 0 if row["Category"] == "Mismatch" else 1, axis=1)

In [ ]:
data = data.drop(['Category'], axis=1)
data = data.drop(['Annotation'], axis=1)
data = data.drop(['TranscriptID'], axis=1)
data = data.drop(['ConstructBarcode'], axis=1)
data = data.drop(['MutatedSequence'], axis=1)
data = data.drop(['WTSequence'], axis=1)

In [ ]:
data.head()

   Protein Annotation  Day21-ETP  ...  TID  MatchResult
0               76.54   0.758783  ...    0            0
1               76.54   0.490986  ...    0            1
2               76.54   0.428038  ...    0            1
3               76.54   0.345700  ...    0            0
4               76.54   0.143454  ...    0            1

[5 rows x 7 columns]

In [ ]:
outfile = 'encode1_off.csv'
data.to_csv(outfile)