In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv("cleaned_off.csv")

In [ ]:
data.head()

   Unnamed: 0      ConstructBarcode  ... Day21-ETP   Category
0           0  AAAAATATCAGTGTGTATAG  ...  0.758783   Mismatch
1           1  AAAGTATCACGTGTGTATAG  ...  0.490986  Insertion
2           2  GAAAAGTATAGTGTGTATAG  ...  0.428038   Deletion
3           3  AAAAGTATCAGTGTGTATAC  ...  0.345700   Mismatch
4           4  AAAGTATCAAGTGTGTATAG  ...  0.143454  Insertion

[5 rows x 9 columns]

In [ ]:
data = data.drop(['Unnamed: 0'], axis=1)

In [ ]:
data.head()

       ConstructBarcode        MutatedSequence  ... Day21-ETP   Category
0  AAAAATATCAGTGTGTATAG   AAAAATATCAGTGTGTATAG  ...  0.758783   Mismatch
1  AAAGTATCACGTGTGTATAG  AAAAGTATCACGTGTGTATAG  ...  0.490986  Insertion
2  GAAAAGTATAGTGTGTATAG    AAAAGTATAGTGTGTATAG  ...  0.428038   Deletion
3  AAAAGTATCAGTGTGTATAC   AAAAGTATCAGTGTGTATAC  ...  0.345700   Mismatch
4  AAAGTATCAAGTGTGTATAG  AAAAGTATCAAGTGTGTATAG  ...  0.143454  Insertion

[5 rows x 8 columns]

In [ ]:
score1 = []

In [ ]:
cb_list = data['ConstructBarcode'].tolist()
wt_list = data['WTSequence'].tolist()

In [ ]:
scr1 = 0

for a,b in zip(cb_list, wt_list):
  for c1, c2 in zip(a, b):
    if c1 == c2:
      scr1 += 1
    else:
      scr1 +=0
      
  score1.append(scr1)
  scr1 = 0

data['sgRNA_vs_Target'] = score1

In [ ]:
data.head()

       ConstructBarcode        MutatedSequence  ...   Category sgRNA_vs_Target
0  AAAAATATCAGTGTGTATAG   AAAAATATCAGTGTGTATAG  ...   Mismatch              19
1  AAAGTATCACGTGTGTATAG  AAAAGTATCACGTGTGTATAG  ...  Insertion              13
2  GAAAAGTATAGTGTGTATAG    AAAAGTATAGTGTGTATAG  ...   Deletion              14
3  AAAAGTATCAGTGTGTATAC   AAAAGTATCAGTGTGTATAC  ...   Mismatch              19
4  AAAGTATCAAGTGTGTATAG  AAAAGTATCAAGTGTGTATAG  ...  Insertion              14

[5 rows x 9 columns]

In [ ]:
data['TranscriptID'] = data['TranscriptID'].astype('category')
data['TID'] = data['TranscriptID'].cat.codes

In [ ]:
data.TranscriptID.value_counts()

ENST00000262262       28837
ENSMUST00000114840    11727
Name: TranscriptID, dtype: int64

In [ ]:
data.TID.value_counts()

1    28837
0    11727
Name: TID, dtype: int64

In [ ]:
data.Category.value_counts()

Insertion    18643
Mismatch     14624
Deletion      4689
PAM           2608
Name: Category, dtype: int64

In [ ]:
data.drop(data[data['Category'] == 'Mismatch'].index, inplace = True)
data.drop(data[data['Category'] == 'PAM'].index, inplace = True)

In [ ]:
data.Category.value_counts()

Insertion    18643
Deletion      4689
Name: Category, dtype: int64

In [ ]:
data["MatchResult"] = data.apply(lambda row: 0 if row["Category"] == "Deletion" else 1, axis=1)

In [ ]:
data = data.drop(['Category'], axis=1)
data = data.drop(['Annotation'], axis=1)
data = data.drop(['TranscriptID'], axis=1)
data = data.drop(['ConstructBarcode'], axis=1)
data = data.drop(['MutatedSequence'], axis=1)
data = data.drop(['WTSequence'], axis=1)

In [ ]:
data.head()

    Protein Annotation  Day21-ETP  sgRNA_vs_Target  TID  MatchResult
1                76.54   0.490986               13    0            1
2                76.54   0.428038               14    0            0
4                76.54   0.143454               14    0            1
5                76.54   0.143454               14    0            1
10               76.54   0.055372               13    0            0

In [ ]:
outfile = 'encode3_off.csv'
data.to_csv(outfile)